﻿@model IEnumerable<WebApplication1.Models.mCard>

@{
    ViewData["Title"] = "Index";
}
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<section id="team" class="pb-5">
    <div class="container">
        @foreach (var item in Model)
        {
        <div class="row">
            <div class="frontside">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="image-flip">
                                <div class="mainflip flip-0">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p>
                                                    <img class=" img-fluid" src="@Html.DisplayFor(model => item.mobile_image)" />
                                                </p>
                                            </div>
                                            <div>
                                                <p class="card-text">
                                                    @Html.DisplayFor(modelItem => item.title)
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                }
            
        </div>
    </section>
